<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}earlsh - URL Shortener{% endblock %}</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

	<link rel="stylesheet" href="{{asset('css/style.css')}}" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</head>
<body>
	<div id="flash-messages" class="container">
		<div class="row">
				<div class="col-md-12">
				{% for flashMessage in app.session.flashbag.get('info') %}
					<p class="bg-success text-success">{{flashMessage}}</p>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="container" id="content-wrapper">
		<div class="row">
			<div class="col-sm-12"> <!-- make content full page -->

				<!-- header row -->
				<div class="row">
					<header class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
						<h1 class="text-center">
							<a href="/"><img src="{{asset('img/logo.png')}}" alt="earlsh" /></a>
						</h1>
					</header>
				</div>

				<!-- content row -->
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
						<div class="row">{% block content %}{% endblock %}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<p class="text-muted text-center">Logo designed by <a href="http://www.gerganagergova.net" target="_blank">Gergana Gergova</a>.</p>
	</footer>
</body>
</html>