/* ****************************************************************************
 * Basic elements
 * ***************************************************************************/

body {
	color: #00070E;
}

a {
	color: #237057;
}

#content-wrapper {
	margin-top: 15%;
}

#content-wrapper .col-md-5 {
	padding: 0;
}

/* ****************************************************************************
 * HEADER
 * ***************************************************************************/

header {
	margin-bottom: 3em;
}

header.row {
	margin-right: 0;
	margin-left: 0;
}

header h1 {
	margin-top: 0;
	margin-bottom: 0;
}

header a {
	display: inline-block;
}

header img {
	width: 100%;
}


/* ****************************************************************************
 * Overwrite Bootstrap elements
 * ***************************************************************************/

.well {
	background-image: none;
	padding: 0.5em;
}

.btn-default {
	background: #1491d3;
	border: none;
	color: #fff;
	font-weight: bold;
	text-shadow: none;
}

.btn-default:hover {
	background: #333;
	color: #e6e6e6;
}

/* ****************************************************************************
 * Shorten form
 * ***************************************************************************/

form#shorten-form .form-group {
	margin-right: 0;
	margin-left: 0;
}

form#shorten-form .form-group .col-sm-10 {
	padding-left: 0;
}

input#form_url {
    border: 1px solid #1491d3;
    box-shadow: 2px 2px #1491d3;
    border-radius: 0;
}

button#form_save {
	margin-top: 2px;
}

/* ****************************************************************************
 * apikey form
 * ***************************************************************************/


#generator-form button#form_save {
	margin-top: 10px;
}

/* ****************************************************************************
 * Custom elements
 * ***************************************************************************/

span.shorturltoken {
	background: rgba(40, 74, 109, 0.2);
	color: #041D37;
	display: inline-block;
	font-size: 90%;
	font-weight: bold;
	padding: 2px;
	width: 5em;
}

span.shorturltoken:hover {
		background: rgba(40, 74, 109, 0.4);
}

#flash-messages p {
	text-align: center;
	padding: 0.5em;
}

span.link {
	width: 23.5em;
	display: inline-block;
}

ul.shorturl-list {
	list-style-type: none;
	padding-left: 0;
}